/*
elements

	-fonts
	-anchors	
	-lists
*/
	
	/*fonts*/
	h1{color:@headingcolor;font-size:1.5em;font-weight:600;}/*page titles*/
	h2{color:@headingcolor;font-size:1.2em;font-weight:100;}/*reserved for sub page titles/site*/
	h3{color:@headingcolor;font-size:1.1em;font-weight:400;text-transform:uppercase;}/*content titles*/
	h4{color:@headingcolor;font-size:1em;font-weight:600;}/*in content titles, first level*/
	h5{color:@headingcolor;font-size:1em;font-weight:600;text-transform:uppercase;}/*in content titles, second level*/
	
	p{color:@bodycolor;font-size:1em;line-height:1.5em;}
	sub{}
	small{}
	/*@*/
	
/*@--@*/