/*
structure
	
	-page
	-header
	-contentarea
	-footer
*/
	
	/*page*/
	body{background:linear-gradient(top,rgba(235,235,235,1) 0%,rgba(192,192,192,1) 50%,rgba(235,235,235,1) 100%);}
	/*@*/
	
	/*header*/
		
		/*@#siteheader*/
		#siteheader{background:#f0f0f0;height:300px;}
		/*@*/
		
	/*@-@*/
	
	/*contentarea*/
	
		/*@#main*/
		#main{background:#d0d0d0;min-height:400px;}
		/*@*/
	
	/*@-@*/
	
	/*footer*/
	
		/*#sitefooter*/
		#sitefooter{background:#222222;height:100px;}
		/*@*/
		
	/*@*/
	
/*@--@*/